/*Layout partes que se repiten contastenmente */
header, footer{
  background-color: #282828;
  position: fixed;
  padding: 20px 0;
  box-sizing: border-box;
  width: 100%;
  color: #c3c1c1;
  font-weight: 400;
}
.layout_a{
  color: #c3c1c1;
}
header{
  top: 0;
}
footer{
  bottom: 0;
}
header img {
	width: 250px;
	display: block;
}
